<div class="contenedor">

    <header>
        <h2>Autores </h2>
    </header>
    <div class="search">
        <div class="input-group searchItem">
            <input type="search" [placeholder]=placeholderSearch [(ngModel)]="searchName">
            <button mat-raised-button (click)="getAutorBy()"><i class="material-icons">search</i></button>
        </div>

        <mat-slide-toggle class="searchItem" (change)="busquedaxFiltro()" [checked]="porNacionalidad">
            Nacionalidad
        </mat-slide-toggle>
    </div>
    <div class="containerTable">
        <table class="table table-hover">

            <thead>
                <tr>
                    <!-- Las busquedas corresponden a los filtros, 1 = nombre, 2, Nacionalidad, 3 F. nacimiento
                    de esta manera podemos realizar el ordenamiento por el filtro que sea seleccinado -->
                    <!-- Se añade una clase active al th correspondiente, de acuerdo al valor seteado en la variable estadoBusqueda -->
                    <!-- Los iconos se muestran y ocultan de esa manera -->
                    <th class="colFiltro" [ngClass]="{'active': estadoBusqueda == 1}" (click)="filtrarPor(1)">
                        Nombre<span class="ml-1" *ngIf="estadoBusqueda === 1"><fa-icon [icon]="faSortAlphaDown"></fa-icon></span>
                    </th>
                    <th class="colFiltro" [ngClass]="{'active': estadoBusqueda == 2}" (click)="filtrarPor(2)">
                        Nacionalidad<span class="ml-1" *ngIf="estadoBusqueda === 2"><fa-icon [icon]="faSortAlphaDown"></fa-icon></span>
                    </th>
                    <th class="colFiltro" [ngClass]="{'active': estadoBusqueda == 3}" (click)="filtrarPor(3)">
                        F. Nacimiento<span class="ml-1" *ngIf="estadoBusqueda === 3"><fa-icon [icon]="faSortNumericDownAlt"></fa-icon></span>
                    </th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let autorItem of listAutor">
                    <td>{{autorItem.data.nombre}}</td>
                    <td>{{autorItem.data.nacionalidad}}</td>
                    <td>{{autorItem.data.anio | date:'dd/MM/yyyy'}}</td>
                    <!-- pipe utilizado para darle formato de milisegundos a fecha -->
                    <td class="footer">
                        <!-- las funciones toman el parametro que tega autorItem -->
                        <button mat-raised-button (click)="dialogAutor(autorItem)" color="primary"><i class="material-icons">
                            edit
                            </i></button>
                        <button mat-raised-button (click)="deleteAutor(autorItem.id)" color="warn"><i class="material-icons">
                            delete
                            </i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- boton flotante  -->
<div class="float mat-elevation-z8" (click)="dialogAutor()">
    <!-- <i class="fa fa-plus my-float"></i> -->
    <i class="material-icons">
        add
        </i>
</div>