<div class="contenedor">

    <header>
        <h2>Autores </h2>
    </header>
    <div class="listaAutores">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nacionalidad</th>
                    <th>F. Nacimiento</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let autorItem of listAutor">
                    <td>{{autorItem.data.nombre}}</td>
                    <td>{{autorItem.data.nacionalidad}}</td>
                    <td>{{autorItem.data.anio | date:'dd/MM/yyyy'}}</td>
                    <td class="botonera"><button mat-raised-button (click)="dialogAutor(autorItem)" color="primary">Edit</button>
                        <button mat-raised-button (click)="deleteAutor(autorItem.id)" color="warn">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<div class="float mat-elevation-z8" (click)="dialogAutor()">
    <!-- <i class="fa fa-plus my-float"></i> -->
    <i class="material-icons">
        add
        </i>
</div>