<div class="ContainerDialog">
    <div class="contenedorItem">
        <h5>{{title}}</h5>
    </div>

    <div class="contenedorItem">

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faUserTie"></fa-icon>
                </div>
            </div>
            <input type="text" [(ngModel)]="autor.nombre" class="form-control" placeholder="Nombre">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faGlobe"></fa-icon>
                </div>
            </div>
            <input type="text" [(ngModel)]="autor.nacionalidad" class="form-control" placeholder="Nacionalidad">
        </div>


        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faBirthdayCake"></fa-icon>
                </div>
            </div>
            <input type="text" class="form-control nacimiento" [(ngModel)]="autor.anio" [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle class="btn-icon" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </div>
    </div>

    <div class="contenedorItem footer">
        <!-- El boton cambia dependiendo del estado de flagEdit, para que corresponda con lo que se está realizado -->
        <button mat-raised-button color="primary" *ngIf="!flagEdit" (click)="Save()">Agregar</button>
        <button mat-raised-button color="primary" *ngIf="flagEdit" (click)="updateAutor()">Actualizar</button>
        <button mat-raised-button color="warn" (click)="cerrarDialog()">Cancelar</button>
    </div>

</div>