<div class="ContainerDialog">
    <div class="contenedorItem">
        <h5>{{title}}</h5>
    </div>
    <div class="contenedorItem">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faBookOpen"></fa-icon>
                </div>
            </div>
            <input type="text" [(ngModel)]="libro.titulo" class="form-control" placeholder="Título">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faBookReader"></fa-icon>
                </div>
            </div>
            <select [(ngModel)]="libro.autor">
                <option *ngFor="let c of listAutor" [ngValue]="c.id">{{c.data.nombre}}</option>
            </select>
        </div>




        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faCalendarCheck"></fa-icon>
                </div>
            </div>
            <input type="text" class="form-control nacimiento" [(ngModel)]="libro.anio" [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle class="btn-icon" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faFont"></fa-icon>
                </div>
            </div>
            <!-- <input type="text" class="form-control" > -->
            <textarea class="form-control" [(ngModel)]="libro.descripcion" placeholder="Descripción" rows="2"></textarea>

        </div>
    </div>



    <div class="contenedorItem footer">
        <button mat-raised-button color="primary" *ngIf="!flagEdit" (click)="Save()">Agregar</button>
        <button mat-raised-button color="primary" *ngIf="flagEdit" (click)="updateLibro()">Actualizar</button>
        <button mat-raised-button color="warn" (click)="cerrarDialog()">Cancelar</button>
    </div>

</div>